<div id="articles-container">
  <div class="left box">
    <% if session.has_key? :user_id %>
      <%= @current_user.name %></br>
      <%= @current_user.bio %>
    <% else %>
    <% end %>
  </div>

  <div class="right box">
    <div class="new-post">
        <%= form_for @article do |f| %>
          <%= f.text_area :body, id: "text-box", placeholder: "今どうしてる？", class: "form-control" %><br/>
          <%= f.submit "つぶやく", id: "button", class: "btn btn-primary" %><br/>
        <% end %>
    </div>

    <div id="articles" class="posts">
    </div>

    <!-- <div class="posts">
      <% @articles.each do |article| %>
      <div>
        <p><%= article.created_at.to_s(:published_on) %></p>
        <% author = article.user %>

        <% if author.has_photo %>
          <img class="avator" src="/uploads/<%= author.id %>.jpg" width="40px"/>
        <% else %>
          <img src="/no_photo.png" width="40px"/>
        <% end %>

        <%= link_to author.name, user_path(author.id) %>
        <p><%= article.body %></p>
        <% unless session.has_key? :user_id %>
          <%= link_to "詳細", article_path(article.id) %>
        <hr>
        <% else %>
          <% if article.user_id == @current_user.id %>
            <%= link_to "詳細", article_path(article.id) %>
            <%= link_to "削除", article_path(article.id), method: :delete %>
            <hr>
          <% else %>
            <% if @current_user.favorites.where(article_id: article.id).size >= 1 %>
            <img class="heart" src="/images/red-favorite.png" data-article-id="<%= article.id %>"/>
            <% else %>
            <img class="heart" src="/images/gray-favorite.png" data-article-id="<%= article.id %>"/>
            <% end %>
            <%= link_to "詳細", article_path(article.id) %>
            <hr>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div> -->
  </div>
</div>
