<h1>みんなのTweet</h1>

<%= link_to "新規投稿", new_article_path %>

<% @articles.each do |article| %>
<h4><%= article.created_at.to_s(:published_on) %></h4>
<h3><%= article.body %></h3>
<%= link_to "削除する", article_path(article.id), method: :delete %>
<%= link_to "詳細をみる", article_path(article.id) %>
<hr>
<% end %>
