<h1>プロフィール</h1> <%# 自分から見たプロフィール %>
<h3><%= @current_user.name %></h3>
<%= link_to "お気に入り", favorites_path %>
<%= link_to "変更", edit_profile_path %>
<%= link_to "トップへ戻る", root_path %>
<%= link_to "ログアウト", auth_path(@current_user.id), method: :delete %>

<hr>

<h6>自己紹介</h5>
<%= @current_user.bio %>
<h5>誕生日</h5>
<%= @current_user.birthday %>
<h5>場所</h5>
<%= @current_user.place %>
<h5>WEBサイト</h5>
<%= @current_user.weburl %>
