<!DOCTYPE html>
<html>
  <head>
    <title>Twitterapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/js/jquery.loadTemplate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  </head>

  <body>
    <header>
      <%= link_to "ホーム", root_path, class: "home" %>

      <div class="logo">
        <img src="/images/twitter.png">
      </div>

      <% if session.has_key? :user_id %>
      <div class="menu">
        <div class="col-xs-6">
          <input id="search" type="text" class="form-control" placeholder="検索" />
        </div>
        <% if @current_user.has_photo %>
        <%= render "layouts/menu" %>
        <% else %>
        <a class="my_profile" href="profile#show"><img src="/no_photo.png" width="40px"/></a>
        <% end %>
        <a data-toggle="modal" data-target="#myModal" class="new_post">新しいツイート</a>
      </div>
      <% else %>
      <div class="menu">
        <%= link_to "新規登録", new_user_path %>
        <%= link_to "ログイン", new_auth_path %>
      </div>
      <% end %>
    </header>

    <div id="container">
      <div class="col-xs-4" style="position: absolute; left: 580px; top: 50px;">
        <ul id="search-result" class="list-group">
        </ul>
      </div>
    <%= yield %>
    </div>

    <%= render "layouts/modal" %>
    <%= render "layouts/alerts" %>
  </body>
</html>
