<!DOCTYPE html>
<html>
  <head>
    <title>Twitterapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <%= link_to "ホーム", root_path, class: "home"%>
      <div class="logo">
        <img src="/images/twitter.png">
      </div>
      <% if session.has_key? :user_id %>
      <div class="menu">
        <%= link_to @current_user.name, profile_path, class: "my_profile"%>
        <%= link_to "新しいツイート", new_article_path, class: "new_post" %>
      </div>
      <% else %>
      <div class="menu">
        <%= link_to "新規登録", new_user_path %>
        <%= link_to "ログイン", new_auth_path %>
        </div>
      <% end %>
    </header>

    <div id="container">
    <%= yield %>
    </div>
  </body>
</html>
